{{!-- <h1>Events list</h1>
 <ul>
    
        {{#each sessions}}
            <li>
                <strong>Theme:</strong> {{this.theme}}
                <br>
                <strong>Photographer:</strong> {{this.owner.username}}
                <br>
                <strong>Status:</strong> {{#if this.isAvailable}} Available {{else}} Not Available {{/if}}
            </li>
        {{/each}}
    </ul> --}}

    <!-- all-events.hbs -->

<h1>Events List</h1>

<ul>
    {{#each sessions}}
    <li>
        <strong>Theme:</strong> {{this.theme}}
        <br>
        <strong>Photographer:</strong> {{this.owner.username}}
        <br>
        <strong>Status:</strong> {{#if this.isAvailable}} Available {{else}} Not Available {{/if}}
        <br>
        <a href="/select-session/{{this._id}}">Select Session</a>
    </li>
    {{/each}}
</ul>
